div {
    border: 1px solid rebeccapurple;
    width: 154px;
    height: 54px;
    margin : 20px;
    padding: 20px;
}

h1 {
    border: 6px dashed fuchsia;
    width: 20%;
    padding: 10px;
}